<!doctype html>

<html ng-app="WordcountApp">
	<head>
		{% block head %}
		<title>Wordcount</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<style>
			.container {
				max-width: 1000px;
			}
		</style>
		<!-- added angular functionality -->
		<script src="{{ url_for('static', filename='js/vendors/angular-1.4.3/angular.min.js') }}"></script>
		{% endblock %}
	</head>
	<body>
	{% block body %}{% endblock %}
	{% block footer %}
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<!-- main angular app entry point -->
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>

		<!-- angular services -->
		<script src="{{ url_for('static', filename='js/services/url_service.js') }}"></script>

		<!-- angular controllers -->
		<script src="{{ url_for('static', filename='js/controllers/WordcountController.js') }}"></script>
	{% endblock %}
	</body>
</html>
