{% extends "base.html" %}
{% block body %}
<div class="container">
	<div class="row" id="first-row">
		<div class="col-sm-5 col-offset-1">
			<h1>Word Frequencies</h1>
			<!-- method='POST' action='/' -->
			<form role="form">
				<div class="form-group">
					<input type="text" name="url" class="form-control" ng-model="input_url" id="url-box" placeholder="Enter URL..." style="max-width: 300px;">
				</div>
				<button type="submit" class="btn bt-default" ng-click="getResults()">Submit</button>
			</form>
		</div>
		<div class="col-sm-5 col-offset-1">
			<h2>Frequencies</h2>
			<br>
			<table class="table">
				<thead>
					<th>Word</th>
					<th>Occurrence</th>
				</thead>
				<tbody>
					<tr ng-repeat="result in chartData">
						<td>[[ result.word ]]</td>
						<td>[[ result.frequency ]]</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
    <div class="row">
        <div class="col-sm-10 col-offset-1" id="svg-container">
            <svg></svg>
        </div>
    </div>
	
</div>
{% endblock %}
